# 3.1 - SQL en python

![python_sql](images/python_sql.png)

**Primero cargar datos...**

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv('../data/shoes.csv')

df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,imageURLs,keys,manufacturer,manufacturerNumber,name,prices.amountMax,prices.amountMin,prices.availability,prices.color,prices.condition,prices.currency,prices.dateAdded,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,https://i5.walmartimages.com/asr/861ca6cf-fa55...,"naturalizer/47147sc022,017136472311,womensnatu...",NaN,47147SC022,Naturalizer Danya Women N/S Open Toe Synthetic...,55.99,55.99,NaN,UWomens M Regular,NaN,USD,2017-03-28T11:40:25Z,"2017-03-25T09:19:24.819Z,2017-03-25T09:19:19.600Z",False,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,https://i5.walmartimages.com/asr/421de5d5-3a74...,"mukluks/00173650206,033977045743,muklukswomens...",Muk Luks,0017365020-6,MUK LUKS Womens Jane Suede Moccasin,47.00,35.25,In Stock,Grey,New,USD,2018-01-03T05:21:54Z,"2017-12-08T14:24:00.000Z,2017-11-01T02:52:00.000Z",True,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,https://i5.walmartimages.com/asr/421de5d5-3a74...,"mukluks/00173650206,033977045743,muklukswomens...",Muk Luks,0017365020-6,MUK LUKS Womens Jane Suede Moccasin,35.25,35.25,In Stock,Grey,New,USD,2017-12-06T05:02:42Z,"2017-11-10T15:11:00.000Z,2017-11-18T08:00:00.000Z",False,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,https://i5.walmartimages.com/asr/950d38a5-0113...,"033977045903,muklukswomensdawnsuedescuffslippe...",Muk Luks,0017366001-6,MUK LUKS Womens Dawn Suede Scuff Slipper,24.75,24.75,In Stock,Black,New,USD,2018-01-04T11:52:35Z,2017-12-07T16:37:00.000Z,False,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,https://i5.walmartimages.com/asr/5e137bc3-c900...,"mukluks/00173660206,033977045958,0033977045958...",NaN,0017366020-6,MUK LUKS Womens Dawn Suede Scuff Slipper,33.00,30.39,In Stock,Grey,New,USD,2017-12-04T21:35:47Z,2017-11-17T21:15:00.000Z,True,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [3]:
# seleccion de columnas

df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean']]

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,Naturalizer,"Silver,Cream Watercolor Floral","6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",55.99,https://i5.walmartimages.com/asr/861ca6cf-fa55...,NaN
1,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
3,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10
4,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10

In [4]:
df=df.dropna().reset_index(drop=True)

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
1,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10
3,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10
4,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             664 non-null    object
 1   colors            664 non-null    object
 2   sizes             664 non-null    object
 3   prices.amountMax  664 non-null    float64
 4   imageURLs         664 non-null    object
 5   ean               664 non-null    float64
dtypes: float64(2), object(4)
memory usage: 734.7 KB

In [6]:
codigo=pd.read_csv('../data/upc_corpus.csv')

codigo.head()

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_65831/1615179648.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  codigo=pd.read_csv('../data/upc_corpus.csv')

            ean                                               name
0  725177540363  Belle and The Yank 1/4" - 20 TPI x 90mm Hex Dr...
1  725177540370  Belle and The Yank 1/4" - 20 TPI x 120mm Hex D...
2  797776092321       Eazel Wines 750ml Red Wine Eazel Shiraz 2014
3  701197194311  IsyLei lilla IsyLei All-In-One, lilla - Cono L...
4  797776110773                    MsConscious 370g Skinny Granola

In [7]:
df.ean=codigo.ean.iloc[0: len(df)]

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
1,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370
2,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,797776092321
3,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,701197194311
4,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,797776110773

In [8]:
# un registro por talla y color

In [9]:
df.colors=df.colors.apply(lambda x: x.split(','))
df.sizes=df.sizes.apply(lambda x: x.split(','))

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
1,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370
2,MUK LUKS,[Black],"[10, 7, 6, 9, 8]",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,797776092321
3,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,701197194311
4,Soft Ones,[Brown Tweed],"[5, 6.5, 9, 11]",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,797776110773

In [10]:
# x es esto

x='10,7,6,9,8'

x.split(',')

['10', '7', '6', '9', '8']

In [11]:
df=df.explode('sizes').reset_index(drop=True)
df=df.explode('colors').reset_index(drop=True)

df.tail()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
41183,easy street,Yellow,12 WIDE,54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8850114875016
41184,easy street,Navy,12 WIDE,54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8850114875016
41185,easy street,Natural,12 WIDE,54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8850114875016
41186,easy street,Coral,12 WIDE,54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8850114875016
41187,easy street,Pewter,12 WIDE,54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8850114875016

In [12]:
df=df.dropna().reset_index(drop=True)

In [13]:
df.columns = ['brand', 'color', 'size', 'price', 'image', 'ean']

df.head()

,brand,color,size,price,image,ean
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363

In [14]:
df['id']=[i for i in range(len(df))]

df.head()

,brand,color,size,price,image,ean,id
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,0
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,1
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,2
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,3
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363,4

In [15]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41117 entries, 0 to 41116
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   41117 non-null  object
 1   color   41117 non-null  object
 2   size    41117 non-null  object
 3   price   41117 non-null  float64
 4   image   41117 non-null  object
 5   ean     41117 non-null  object
 6   id      41117 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 39.4 MB

### MySQL Connector

In [ ]:
%pip install mysql-connector-python

In [16]:
import mysql.connector as conn

In [21]:
# conexion al servidor y crear una base de datos vacia

conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password')    # conexion al servidor

cursor = conexion.cursor()

cursor

In [22]:
cursor.execute('drop database if exists productos;')  # borra si existe 

cursor.execute('create database productos;')   # crea

In [23]:
# check

cursor.execute('show databases;')

for e in cursor:
    print(e)

('app',)
('hola',)
('information_schema',)
('mysql',)
('performance_schema',)
('productos',)
('publications',)
('quizzes',)
('sys',)

In [24]:
# conexion a base de datos

db = conn.connect(host='localhost',
                  user='root',
                  passwd='password',
                  database='productos')  # conexion a la base de datos

cursor = db.cursor()

In [25]:
cursor.execute('drop table if exists zapatos;')


query =  '''

create table zapatos(

        id int primary key not null,
        brand varchar(50),
        color varchar(50), 
        size varchar(50),
        price float,
        image varchar(10000),
        ean varchar(50)
        );

'''

cursor.execute(query)

In [26]:
type(query)

str

In [27]:
# check 

cursor.execute('show tables;')

for e in cursor:
    print(e)

('zapatos',)

### Inserta datos

In [42]:
# insert into tabla (col1, col2, ....) values (v1, v2, ...);



nombre_tabla = 'zapatos'

nombre_columnas = ','.join(df.columns)



#bucle por filas
for i in range(len(df)):
    
    valores = tuple(df.iloc[i].values)
    
    insert_query = f'insert into {nombre_tabla} ({nombre_columnas}) values {valores};'
    
    cursor.execute(insert_query)

In [41]:
insert_query

"insert into zapatos (brand,color,size,price,image,ean,id) values ('easy street', 'Pewter', '12 WIDE', 54.99, 'https://media.kohlsimg.com/is/image/kohls/2794126_Navy?wid=50&hei=50&op_sharpen=1,https://media.kohlsimg.com/is/image/kohls/2794126_Navy?wid=1000&hei=1000&op_sharpen=1,https://media.kohlsimg.com/is/image/kohls/2794126_Black?wid=50&hei=50&op_sharpen=1,https://media.kohlsimg.com/is/image/kohls/2794126_Black?wid=1000&hei=1000&op_sharpen=1,https://ll-us-i5.wal.co/dfw/63fd9f59-19a7/k2-_29be935d-2f27-4030-949a-59d29ead73e1.v11.jpg-1acb3420601ebe50db1d068b83f74d79afe3744e-optim-500x500.jpg', '8850114875016', 41116);"

In [43]:
# check 

cursor.execute('select * from zapatos limit 2;')

for x in cursor:
    print(x)

(0, 'MUK LUKS', 'Grey', '10', 47.0, 'https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF', '725177540363')
(1, 'MUK LUKS', 'Grey', '7', 47.0, 'https://i5.walmartimages.com/asr/421de5d5-3a74-4ca2-ae91-a75787f7da41_1.375e3cf74dc82303ce37bdf6a9742610.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/202d5a0e-b2aa-4d47-b63c-661fc3f9cd69_1.a61c1848859953067192fb2ce1c4f916.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/55a10ffd-de74-406b-8aa5-ae5be3569ee3_1.4b179b9702f0076cdf701afd0e7dcda2.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/138e9ecf-fac8-4e9d-946a-7ca33dfa46aa_1.e4211c14f2a6ecf891e3d440402b5f82.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/8c6c1ee4-7708-4d45-b48a-b30f974a5f2f_1.857088c50496451990583941d955218d.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF,https://i5.walmartimages.com/asr/a486d1cf-f2b5-49ca-b0f8-3e2db896c51c_1.de1c99ac6fdfcf3dc3ddbd9c1c6c72b1.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF', '725177540363')

In [44]:
# check 

cursor.execute('select count(*) from zapatos;')

for x in cursor:
    print(x)

(41117,)

### SqlAlchemy

In [ ]:
%pip install SQLAlchemy

In [ ]:
%pip install pymysql

In [45]:
from sqlalchemy import create_engine

In [46]:
# conexion a servidor y creacion una base de datos


# string de conexion - URI

# lenguaje+driver://usuario:password@servidor:puerto


str_conn = 'mysql+pymysql://root:password@localhost:3306'

cursor = create_engine(str_conn)

cursor.execute('drop database if exists app;')

cursor.execute('create database app;')

### SQL - Pandas

In [47]:
# lenguaje+driver://usuario:password@servidor:puerto/database

str_conn = 'mysql+pymysql://root:password@localhost:3306/app'

cursor = create_engine(str_conn)

In [71]:
data=pd.read_csv('../data/apple_store.csv')

data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [72]:
data.to_sql(name='ratings', 
            con=cursor,
            if_exists='replace',   # 'append'..
            index=True
           )

7197

In [50]:
data.shape

(7197, 9)

In [54]:
df.to_sql(name='zapatos', 
          con=cursor, 
          if_exists='replace', index=True)

41117

In [55]:
df2 = pd.read_sql('select * from ratings limit 3;', cursor)

df2

,index,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather

In [56]:
query = '''

select track_name, user_rating, prime_genre

    from ratings
    
    where price=0 and user_rating>4

;
'''


datos=pd.read_sql(query, cursor)

datos.head()

                            track_name  user_rating   prime_genre
0                                Bible          4.5     Reference
1                     Sonos Controller          4.5         Music
2  OpenTable - Restaurant Reservations          4.5  Food & Drink
3                        Chase Mobile          4.5       Finance
4               The Masters Tournament          4.5        Sports

In [57]:
datos=pd.read_sql('''select prime_genre,
                            sum(rating_count_tot) as total_rating,
                            avg(user_rating) as avg_rating
                     
                     from ratings
                     
                     where price=0
                     
                     group by prime_genre
                     
                     order by total_rating desc
                     
                     limit 10;''', cursor)
datos

         prime_genre  total_rating  avg_rating
0              Games    85426046.0    3.528578
1  Social Networking    15180364.0    2.996503
2      Photo & Video     9101464.0    3.793413
3              Music     7568592.0    3.940299
4      Entertainment     7229738.0    3.148204
5           Shopping     4536696.0    3.533058
6             Sports     3180378.0    2.917722
7          Utilities     3054202.0    3.454128
8   Health & Fitness     3032752.0    3.578947
9            Weather     2927698.0    3.258065

In [58]:
datos.to_sql(name='generos', con=cursor)

10

In [59]:
pd.read_sql('select * from generos;', cursor)

   index        prime_genre  total_rating  avg_rating
0      0              Games    85426046.0    3.528578
1      1  Social Networking    15180364.0    2.996503
2      2      Photo & Video     9101464.0    3.793413
3      3              Music     7568592.0    3.940299
4      4      Entertainment     7229738.0    3.148204
5      5           Shopping     4536696.0    3.533058
6      6             Sports     3180378.0    2.917722
7      7          Utilities     3054202.0    3.454128
8      8   Health & Fitness     3032752.0    3.578947
9      9            Weather     2927698.0    3.258065

In [60]:
pd.read_sql('select * from ratings limit 3;', cursor)

,index,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather

In [73]:
cursor.execute('alter table ratings add primary key (id);')  # aede PK

In [69]:
datos=pd.read_sql('''select *
                     
                     from ratings
                     
                     where price=0
                     
                     limit 10;''', cursor)


datos.to_sql(name='rateos', con=cursor, if_exists='replace', index=False)

10

In [74]:
query='alter table rateos ADD FOREIGN KEY (id) REFERENCES ratings(id);' # esto aade relacin

cursor.execute(query)

In [75]:
str_conn='mysql+pymysql://root:password@localhost:3306/publications'

cursor=create_engine(str_conn)

In [76]:
query='''
        select title, year(max(pubdate)) as 'year',
                count(titleauthor.title_id) as num_titles,
                group_concat(concat(authors.au_fname, ' ', authors.au_lname)) as authors
        
        from titles
        
        left join titleauthor
        on titles.title_id=titleauthor.title_id
        
        left join authors
        on authors.au_id=titleauthor.au_id
        
        group by titles.title
        
        order by num_titles desc;

'''

In [77]:
df_sql=pd.read_sql(query, cursor)

df_sql.head()

,title,year,num_titles,authors
0,"Sushi, Anyone?",1991,3,"Michael O'Leary,Burt Gringlesby,Akiko Yokomoto"
1,Computer Phobic AND Non-Phobic Individuals: Be...,1991,2,"Stearns MacFeather,Livia Karsen"
2,Cooking with Computers: Surreptitious Balance ...,1991,2,"Michael O'Leary,Stearns MacFeather"
3,Is Anger the Enemy?,1991,2,"Anne Ringer,Albert Ringer"
4,Secrets of Silicon Valley,1994,2,"Ann Dull,Sheryl Hunter"

In [84]:
%%time

pd.read_sql('select * from employee;', cursor)['job_lvl'].count()

CPU times: user 5.7 ms, sys: 1.68 ms, total: 7.37 ms
Wall time: 7.35 ms

43

In [85]:
%%time

pd.read_sql('select count(job_id) as j from employee;', cursor)['j'][0]

CPU times: user 3.1 ms, sys: 1.45 ms, total: 4.55 ms
Wall time: 4.49 ms

43

In [90]:
# cargar archivo de contraseas, oye alegre, mira a ver tu password XD

with open('contraseas.txt', 'r') as file:
    
    passwd=file.read()

In [95]:
passwd=passwd.split('\n')[0].split('=')[1]

In [88]:
str_conn=f'mysql+pymysql://root:{passwd}@localhost:3306/publications'

cursor=create_engine(str_conn)

In [89]:
cursor.execute('show tables;').fetchall()

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('summary',),
 ('titleauthor',),
 ('titles',),
 ('total',)]

In [103]:
from pass_ import PASSWORD

In [98]:
str_conn=f'mysql+pymysql://root:{PASSWORD}@localhost:3306/publications'

cursor=create_engine(str_conn)

cursor.execute('show tables;').fetchall()

[('authors',),
 ('discounts',),
 ('employee',),
 ('jobs',),
 ('pub_info',),
 ('publishers',),
 ('roysched',),
 ('sales',),
 ('stores',),
 ('summary',),
 ('titleauthor',),
 ('titles',),
 ('total',)]

In [ ]:
from pass_ import dictio_p

str_conn=f"mysql+pymysql://root:{dictio_p['sql']}@localhost:3306/publications"

cursor=create_engine(str_conn)

cursor.execute('show tables;').fetchall()